.hero {
  font-family: "Poppins";
  display: flex;
  align-items: center;
  background-image: url('../src/img/halamanSekolah.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, #fff 8%, rgba(255, 255, 255, 0) 50%);
}

.heroJudul, .heroDesk {
  line-height: 1.9rem;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}